

.clearfix:before,
.clearfix:after,
.cntnr:before,
.cntnr:after,
.cntnr-fluid:before,
.cntnr-fluid:after,
.rw:before,
.rw:after {
	content: " ";
	display: table;
}

.clearfix:after,
.cntnr:after,
.cntnr-fluid:after,
.rw:after {
	clear: both;
}


@-ms-viewport {
	width: device-width;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.cntnr {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 576px) {
	.cntnr {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 768px) {
	.cntnr {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 992px) {
	.cntnr {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 1200px) {
	.cntnr {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 576px) {
	.cntnr {
		width: 540px;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.cntnr {
		width: 720px;
		max-width: 100%;
	}
}
@media (min-width: 992px) {
	.cntnr {
		width: 960px;
		max-width: 100%;
	}
}
@media (min-width: 1200px) {
	.cntnr {
		width: 1140px;
		max-width: 100%;
	}
}

.cntnr-fluid {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}
@media (min-width: 576px) {
	.cntnr-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 768px) {
	.cntnr-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 992px) {
	.cntnr-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 1200px) {
	.cntnr-fluid {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.rw {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
@media (min-width: 576px) {
	.rw {
		margin-right: -15px;
		margin-left: -15px;
	}
}
@media (min-width: 768px) {
	.rw {
		margin-right: -15px;
		margin-left: -15px;
	}
}
@media (min-width: 992px) {
	.rw {
		margin-right: -15px;
		margin-left: -15px;
	}
}
@media (min-width: 1200px) {
	.rw {
		margin-right: -15px;
		margin-left: -15px;
	}
}

.no-padding {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.no-padding > .cl,
.no-padding > [class*="cl-"] {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.cl-1, .cl-2, .cl-3, .cl-4, .cl-5, .cl-6, .cl-7, .cl-8, .cl-9, .cl-10, .cl-11, .cl-12, .cl, .cl-sm-1, .cl-sm-2, .cl-sm-3, .cl-sm-4, .cl-sm-5, .cl-sm-6, .cl-sm-7, .cl-sm-8, .cl-sm-9, .cl-sm-10, .cl-sm-11, .cl-sm-12, .cl-sm, .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6, .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12, .cl-md, .cl-lg-1, .cl-lg-2, .cl-lg-3, .cl-lg-4, .cl-lg-5, .cl-lg-6, .cl-lg-7, .cl-lg-8, .cl-lg-9, .cl-lg-10, .cl-lg-11, .cl-lg-12, .cl-lg, .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6, .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12, .cl-xl {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}
@media (min-width: 576px) {
	.cl-1, .cl-2, .cl-3, .cl-4, .cl-5, .cl-6, .cl-7, .cl-8, .cl-9, .cl-10, .cl-11, .cl-12, .cl, .cl-sm-1, .cl-sm-2, .cl-sm-3, .cl-sm-4, .cl-sm-5, .cl-sm-6, .cl-sm-7, .cl-sm-8, .cl-sm-9, .cl-sm-10, .cl-sm-11, .cl-sm-12, .cl-sm, .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6, .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12, .cl-md, .cl-lg-1, .cl-lg-2, .cl-lg-3, .cl-lg-4, .cl-lg-5, .cl-lg-6, .cl-lg-7, .cl-lg-8, .cl-lg-9, .cl-lg-10, .cl-lg-11, .cl-lg-12, .cl-lg, .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6, .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12, .cl-xl {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 768px) {
	.cl-1, .cl-2, .cl-3, .cl-4, .cl-5, .cl-6, .cl-7, .cl-8, .cl-9, .cl-10, .cl-11, .cl-12, .cl, .cl-sm-1, .cl-sm-2, .cl-sm-3, .cl-sm-4, .cl-sm-5, .cl-sm-6, .cl-sm-7, .cl-sm-8, .cl-sm-9, .cl-sm-10, .cl-sm-11, .cl-sm-12, .cl-sm, .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6, .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12, .cl-md, .cl-lg-1, .cl-lg-2, .cl-lg-3, .cl-lg-4, .cl-lg-5, .cl-lg-6, .cl-lg-7, .cl-lg-8, .cl-lg-9, .cl-lg-10, .cl-lg-11, .cl-lg-12, .cl-lg, .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6, .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12, .cl-xl {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 992px) {
	.cl-1, .cl-2, .cl-3, .cl-4, .cl-5, .cl-6, .cl-7, .cl-8, .cl-9, .cl-10, .cl-11, .cl-12, .cl, .cl-sm-1, .cl-sm-2, .cl-sm-3, .cl-sm-4, .cl-sm-5, .cl-sm-6, .cl-sm-7, .cl-sm-8, .cl-sm-9, .cl-sm-10, .cl-sm-11, .cl-sm-12, .cl-sm, .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6, .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12, .cl-md, .cl-lg-1, .cl-lg-2, .cl-lg-3, .cl-lg-4, .cl-lg-5, .cl-lg-6, .cl-lg-7, .cl-lg-8, .cl-lg-9, .cl-lg-10, .cl-lg-11, .cl-lg-12, .cl-lg, .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6, .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12, .cl-xl {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media (min-width: 1200px) {
	.cl-1, .cl-2, .cl-3, .cl-4, .cl-5, .cl-6, .cl-7, .cl-8, .cl-9, .cl-10, .cl-11, .cl-12, .cl, .cl-sm-1, .cl-sm-2, .cl-sm-3, .cl-sm-4, .cl-sm-5, .cl-sm-6, .cl-sm-7, .cl-sm-8, .cl-sm-9, .cl-sm-10, .cl-sm-11, .cl-sm-12, .cl-sm, .cl-md-1, .cl-md-2, .cl-md-3, .cl-md-4, .cl-md-5, .cl-md-6, .cl-md-7, .cl-md-8, .cl-md-9, .cl-md-10, .cl-md-11, .cl-md-12, .cl-md, .cl-lg-1, .cl-lg-2, .cl-lg-3, .cl-lg-4, .cl-lg-5, .cl-lg-6, .cl-lg-7, .cl-lg-8, .cl-lg-9, .cl-lg-10, .cl-lg-11, .cl-lg-12, .cl-lg, .cl-xl-1, .cl-xl-2, .cl-xl-3, .cl-xl-4, .cl-xl-5, .cl-xl-6, .cl-xl-7, .cl-xl-8, .cl-xl-9, .cl-xl-10, .cl-xl-11, .cl-xl-12, .cl-xl {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.cl {
	-webkit-flex-basis: 0;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grw: 1;
	-ms-flex-positive: 1;
	flex-grw: 1;
	max-width: 100%;
}
.cl-auto {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
}
.cl-1 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 8.333333%;
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}
.cl-2 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 16.666667%;
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}
.cl-3 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 25%;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.cl-4 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.333333%;
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.cl-5 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 41.666667%;
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}
.cl-6 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.cl-7 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 58.333333%;
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}
.cl-8 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 66.666667%;
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
.cl-9 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 75%;
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}
.cl-10 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 83.333333%;
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}
.cl-11 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 91.666667%;
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}
.cl-12 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

@media (min-width: 576px) {
	.cl-sm {
		-webkit-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-webkit-flex-grw: 1;
		-ms-flex-positive: 1;
		flex-grw: 1;
		max-width: 100%;
	}
	.cl-sm-auto {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
	}
	.cl-sm-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333333%;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.cl-sm-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.666667%;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.cl-sm-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.cl-sm-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333333%;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.cl-sm-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.666667%;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.cl-sm-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.cl-sm-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333333%;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.cl-sm-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.666667%;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.cl-sm-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.cl-sm-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333333%;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.cl-sm-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.666667%;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.cl-sm-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.cl-md {
		-webkit-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-webkit-flex-grw: 1;
		-ms-flex-positive: 1;
		flex-grw: 1;
		max-width: 100%;
	}
	.cl-md-auto {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
	}
	.cl-md-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333333%;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.cl-md-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.666667%;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.cl-md-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.cl-md-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333333%;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.cl-md-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.666667%;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.cl-md-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.cl-md-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333333%;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.cl-md-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.666667%;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.cl-md-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.cl-md-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333333%;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.cl-md-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.666667%;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.cl-md-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	.cl-lg {
		-webkit-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-webkit-flex-grw: 1;
		-ms-flex-positive: 1;
		flex-grw: 1;
		max-width: 100%;
	}
	.cl-lg-auto {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
	}
	.cl-lg-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333333%;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.cl-lg-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.666667%;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.cl-lg-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.cl-lg-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333333%;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.cl-lg-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.666667%;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.cl-lg-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.cl-lg-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333333%;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.cl-lg-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.666667%;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.cl-lg-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.cl-lg-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333333%;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.cl-lg-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.666667%;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.cl-lg-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.cl-xl {
		-webkit-flex-basis: 0;
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-webkit-box-flex: 1;
		-webkit-flex-grw: 1;
		-ms-flex-positive: 1;
		flex-grw: 1;
		max-width: 100%;
	}
	.cl-xl-auto {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
	}
	.cl-xl-1 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 8.333333%;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.cl-xl-2 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 16.666667%;
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.cl-xl-3 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 25%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.cl-xl-4 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 33.333333%;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.cl-xl-5 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 41.666667%;
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.cl-xl-6 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 50%;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.cl-xl-7 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 58.333333%;
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.cl-xl-8 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 66.666667%;
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.cl-xl-9 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 75%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.cl-xl-10 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 83.333333%;
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.cl-xl-11 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 91.666667%;
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.cl-xl-12 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
